<div class="row">
	<div class="alert alert-success alert-dismissable alert-top">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Внимание акция!</strong> С 20 марта действует <strong>бесплатная доставка</strong> для всех клиентов Кабинета оптовика в пределах Екатеринбурга при заказе от 12 колес. Подробности узнавайте у менеджеров.
	</div>

	<div class="alert alert-success alert-dismissable alert-top">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Внимание!</strong> С 11 мая вступила в силу <strong>распродажа шины с датой выпуска 2013 года и старше</strong>. 100% предоплата. Шина возврату и обмену НЕ ПОДЛЕЖИТ. Кол-во товара ограничено. Подробности узнавайте у своего менеджера.
	</div>
</div>