{% extends '::layout_min.html.twig' %}

{% block body %}
	<br/>
	<br/>
	<div class="alert alert-danger alert-dismissable alert-top">
		<strong>Внимание! На сайте профилактические работы. Приносим свои извинения.</strong>
	</div>
{% endblock body %}
