{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="panel-body">
	<div class="alert alert-success">
		Ваша заявка принята и отправлена на рассмотрение. Менеджер нашей компании свяжется с вами в ближайшее время, чтобы уточнить информацию для заключения договора.
	</div>
</div>
{% endblock fos_user_content %}
